<launch>
    <include file="$(find oni_vicon_recorder)/launch/oni_vicon_recorder_local.launch" />
	<rosparam command="load" file="$(find oni_vicon_calibration)/config/calibration.yaml" />
	<node name="rqt_oni_vicon_recorder" type="rqt_oni_vicon_recorder" pkg="rqt_oni_vicon_recorder" output="screen" respawn="false" launch-prefix="" /> <!-- valgrind -->
</launch>
